@import url("https://dhruvesh-component-library.netlify.app/style.css");

.App {
  font-family: sans-serif;
 
}

.active {
  visibility: visible;
  opacity: 1;
}

.icon-Buttons {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.mrgn-t
{
  margin: top 2px;
}
.video_Details_section
{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.img-fit {
  width: 100%;
}

.home-video-container {
  width: 25rem;
  height: 18rem;
}



.cred-card{
  border: 2px solid  #1a83ff;
  border-radius: 10%;
  height: 20rem;
  width: 16rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  position: relative;
}

.btn_color
{
  background-color: #1a83ff;
  color: #ffffff;
}

.credentials-page
{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.credential_elements
{
  border: none;
  border-bottom:3px solid #1a83ff; ;
  margin: 1rem;
}


.mid_width_card
{
  display:flex;
  justify-content: center;
  align-items: center;
}

.main-container{
display:inline-flex;
margin-left:13rem;

}

.hamburger {
  height: 64px;
  width: 64px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.icons-close {
  height: 64px;
  width: 75px;
}

.close {
  position: absolute;
  top: 0px;
  left: 0px;
}

.sidebar {
  background-color: #ffffff;
  width: 200px;
  height: 100vh;

  position: fixed;
  top: 0px;
  left: 230px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.Items {
  font-size: x-large;
}

.Items:hover {
  background-color: gray;
  color: white;
}
.close {
  position: absolute;
  top: 0px;
  left: 0px;
}
